@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default password reveal icons (Edge, Chrome, etc.) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}